<section class="mt-12 bg-[url('/img/dotted-cells.svg')]">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-autolg:py-0">
    <%= render 'shared/brand_logo' %>
    <div class="w-full bg-white rounded-lg shadow-xl/20 md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
          Log in to your account
        </h1>
        <% if Current.user %>
          <small>
            Vous êtes déjà connecté(e) en tant que <%= Current.user.email %>
          </small>
          <small class="block !mt-2">
            Souhaitez-vous <%= button_to "vous déconnecter?", Current.session, method: :delete, form_class: "inline-block", class: "font-medium text-blue-600 hover:underline" %>
          </small>
        <% else %>
          <small>
            Not yet subscribed? Yes, <%= link_to "it's possible", sign_up_path, class: "font-medium text-blue-600 hover:underline" %>
          </small>
        <% end %>
        <%= form_with(url: sign_in_path, class: "space-y-4 md:space-y-6", html:{"up-target" => ".main, .js-navbar", "up-preview" => "link-spinner"}) do |form| %>
          <% if request.params[:email_hint] %>
            <div style="color: red">
              <div>
                ⚠ This email or password is not correct
              </div>
            </div>
          <% end %>
          <div>
            <%= form.label :email, class: "block mb-2 text-lg md:text-base font-medium text-gray-900" %>
            <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
          </div>
          <div>
            <%= form.label :password, "Password", class: "block mb-2 text-lg md:text-base font-medium text-gray-900" %>
            <%= form.password_field :password, required: true, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
              </div>
              <div class="ml-3 text-lg md:text-base">
                <label for="remember" class="text-gray-500 cursor-pointer">Rester connecté</label>
              </div>
            </div>
            <%= link_to "Forgotten password?", new_identity_password_reset_path, class: "text-lg md:text-base font-medium text-primary-600 hover:underline" %>
          </div>
          <div>
            <%= form.button "",  type: "submit", class: "cursor-pointer w-full text-[#525252] bg-primary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-lg md:text-base px-5 py-2.5 text-center" do %>
              <span class="pl-2 text-white">Log in</span>
              <span class="js-may-load"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>