<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10">
  <div class="sm:flex items-center justify-between mb-5">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">Change password</h1>
  </div>
  <section class="">
    <%= form_with(url: password_path, method: :patch, html: { 'up-submit': true }) do |form| %>
      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@user.errors.count, "error") %> occured:</h2>
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= form.label :password_challenge, "Current password",  style: "display: block", class: "font-medium text-sm text-gray-700" %>
        <%= form.password_field :password_challenge, required: true, autofocus: true, autocomplete: "current-password", placeholder: "Current password", class: "placeholder:text-sm placeholder:font-base placeholder:text-neutral-500 shadow-[0_1px_2px_#0000000d] border border-gray-300 text-neutral-700 rounded-md focus:border-2 focus:border-primary-400 focus:outline-none w-92 py-1 px-3" %>
      </div>
      <div class="text-sm text-neutral-600 mt-3">
        We need your current password to confirm your changes
      </div>
      <div class="mt-6">
        <%= form.label :password, "New password - 12 characters minimum", style: "display: block", class: "font-medium text-sm text-gray-700" %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "New password", class: "placeholder:text-sm placeholder:font-base placeholder:text-neutral-500 shadow-[0_1px_2px_#0000000d] border border-gray-300 text-neutral-700 rounded-md focus:border-2 focus:border-primary-400 focus:outline-none w-92 py-1 px-3" %>
      </div>
      <div class="mt-6">
        <%= form.label :password_confirmation, "Confirm new password", style: "display: block", class: "font-medium text-sm text-gray-700" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm new password", class: "placeholder:text-sm placeholder:font-base placeholder:text-neutral-500 shadow-[0_1px_2px_#0000000d] border border-gray-300 text-neutral-700 rounded-md focus:border-2 focus:border-primary-400 focus:outline-none w-92 py-1 px-3" %>
      </div>
      <div class="mt-8">
        <%= form.submit "Save changes", class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2" %>
      </div>
    <% end %>
  </section>
</div>