<%# locals: (email:, session:) %>
<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10">
  <div class="sm:flex items-center justify-between mb-3">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">My account</h1>
  </div>
  <section>
    <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
      Current Session
    </h2>
    <div class="mb-8 flex gap-8  mt-2">
      <div class="flex-1">
        <div class="text-neutral-700">
          Currently logged in as <%= email %>
        </div>
        <div class="mt-2">
          <%= button_to "Log out", session, method: :delete, class: "cursor-pointer font-medium text-blue-600 hover:underline", form: {"up-submit" => "false"} %>
        </div>
      </div>
      <div>
        <%= link_to "View all sessions", sessions_path, class: "cursor-pointer text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-md text-sm px-3 py-1 md:ms-4 md:me-2 mt-2 mb-2 md:mt-0 md:mb-0" %>
      </div>
    </div>
  </section>
  <section>
    <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
      Primary Email
    </h2>
    <div class="mb-8 flex gap-8  mt-2">
      <div class="flex-1">
        <div class="text-neutral-700">
          Your primary email is <%= email %>
        </div>
        <div class="mt-2">
          <%= link_to "Change email", edit_identity_email_path, class: "cursor-pointer font-medium text-blue-600 hover:underline" %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
      Password
    </h2>
    <div class="mb-8 flex gap-8  mt-2">
      <div class="flex-1">
        <div class="text-neutral-700">
          Your password can be changed below
        </div>
        <div class="mt-2">
          <%= link_to "Edit password", edit_password_path, class: "cursor-pointer font-medium text-blue-600 hover:underline" %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
      Connected devices
    </h2>
    <div class="mb-8 flex gap-8  mt-2">
      <div class="flex-1">
        <div class="text-neutral-700">
          All the devices connnected to your account
        </div>
        <div class="mt-2">
          <%= link_to "View connected devices", sessions_path, class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-3 py-1" %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
      Danger zone
    </h2>
    <div class="mb-8 flex gap-8  mt-2">
      <div class="flex-1">
        <div class="text-neutral-700">
          You can delete your account and all the associated data below
        </div>
        <div class="mt-2">
          <%= link_to "Go to account deletion page", sessions_path, class: "cursor-pointer font-medium text-blue-600 hover:underline" %>
        </div>
      </div>
    </div>
  </section>
</div>
