<%# locals: (user:) %>
<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10">
  <div class="sm:flex items-center justify-between mb-5">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">Email</h1>
  </div>
  <section class="">
    <% if !user.verified? %>
      <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
        Change your email
      </h2>
      <%= form_with(url: identity_email_path, method: :patch) do |form| %>
        <% if user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= form.label :email, "New email", style: "display: block" %>
          <%= form.email_field :email, required: true, autofocus: true %>
        </div>
        <div>
          <%= form.label :password_challenge, style: "display: block" %>
          <%= form.password_field :password_challenge, required: true, autocomplete: "current-password" %>
        </div>
        <div>
          <%= form.submit "Save changes" %>
        </div>
      <% end %>
    <% else %>
      <h2 class="text-lg text-neutral-700 dark:text-gray-300 font-semibold mt-8 border-b border-gray-200 dark:border-gray-700 pb-2">
        Verify your email
      </h2>
      <p>We sent a verification email to <%= user.email %>. Check that email and follow those instructions to confirm it's your email address.</p>
      <p><%= button_to "Re-send verification email", identity_email_verification_path %></p>
    <% end %>
    <br>
    <div>
      <%= link_to "Back", root_path %>
    </div>
  </section>
</div>