<%# locals: (activation: nil) %>
<% default_css = "block no-underline p-3 px-6 text-neutral-700 hover:text-neutral-700 hover:bg-gray-100" %>
<% active_css = "block no-underline p-3 px-6 bg-primary text-white hover:text-white" %>
<div class="text-md text-neutral-500 mb-5">
  <div class="js-current-email">
    <%= current_user.email %>
  </div>
  <div class="">
    <%= button_to "Log out", Current.session, method: :delete, class: "cursor-pointer font-medium text-blue-600 hover:underline", form: {"up-submit" => "false"} %>
  </div>
</div>
<%= visible_to(:superadmin) do %>
  <div class="mb-5">
    <div class="text-md text-neutral-500 mb-2">
      Admin area
    </div>
    <div class="bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700 rounded-md text-sm font-medium">
      <a class="<%= activation == "adminpanel" ? active_css : default_css %>" href="/myaccount/adminpanel">Admin Panel</a>
      <a class="<%= activation == "users" ? active_css : default_css %>" href="/myaccount/users">Users</a>
      <a class="<%= activation == "roles" ? active_css : default_css %>" href="/myaccount/roles">Roles</a>
      <a class="<%= activation == "blogposts" ? active_css : default_css %>" href="/myaccount/blogposts">Blogposts</a>
      <a class="<%= activation == "blogtags" ? active_css : default_css %>" href="/myaccount/blogtags">Blogtags</a>
    </div>
  </div>
  <div class="">
    <div class="text-md text-neutral-500 mb-2">
      Your profile
    </div>
  </div>
<% end %>
