<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10 h-full">
  <div class="sm:flex items-center justify-between mb-8">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">Roles</h1>
    <form class="search" up-target=".table-scroll" up-focus="#q" up-history="true" method="get">
      <input type="hidden" name="page" id="page" value="<%= params[:page] || 1 %>" autocomplete="off">
      <input type="search" name="q" id="q" placeholder="Search" value="<%= params[:q] %>" class="appearance-none bg-white rounded-md border border-gray-300 leading-7 px-3 py-1">
    </form>
    <%= link_to "New role", myaccount_role_new_path, class: "inline-flex items-center justify-center cursor-pointer text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-md text-sm px-5 py-2 md:ms-2 md:me-2 mt-2 mb-2 md:mt-0 md:mb-0" %>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 border border-gray-200 rounded-lg overflow-hidden">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Action</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Id</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">Name</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
            <a href="?<%= build_href_to_sort('created_at', request.query_parameters) %>" class="cursor-pointer hover:underline">Created at</a>
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
            <a href="?<%= build_href_to_sort('updated_at', request.query_parameters) %>" class="cursor-pointer hover:underline">Updated at</a>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @roles.each do |role| %>
          <tr class="hover:bg-gray-50 transition-colors duration-200">
            <td class="px-6 py-4 whitespace-nowrap text-sm">
              <%= link_to "Edit", myaccount_role_edit_path(role.id), class: "cursor-pointer text-white bg-gray-900 hover:bg-gray-900/90 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 font-medium rounded-md text-sm px-3 py-1.5 mr-2" %>
              <%= link_to "Show", myaccount_role_show_path(role.id), class: "cursor-pointer text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-md text-sm px-3 py-1.5" %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= role.id %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><%= truncate(role&.name, length: 20, omission: "...") %></td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <div><%= role.created_at.strftime('%-d %b %Y') %></div>
              <div class="text-gray-500"><%= role.created_at.strftime('%H:%M:%S') %></div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <div><%= role.updated_at.strftime('%-d %b %Y') %></div>
              <div class="text-gray-500"><%= role.updated_at.strftime('%H:%M:%S') %></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <ul class="mt-6">
    <%== pagy_nav(@pagy) %>
  </ul>
</div>
