<nav class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700" aria-label="Breadcrumb">
  <div class="mx-auto flex justify-between items-center">
    <ol class="px-4 flex space-x-4 sm:px-6 lg:px-8">
      <li class="flex">
        <div class="flex items-center">
          <a class="text-gray-400 hover:text-gray-500 dark:text-white dark:hover:text-gray-400" href="/">
            <svg class="flex-shrink-0 w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
            </svg>
            <span class="sr-only">Home</span>
          </a>
        </div>
      </li>
      <% if current_named_route == :myaccount %>
        <%= render "shared/breadcrumb_one", text: "My account" %>
      <% elsif current_named_route == :myaccount_password %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Password" %>
      <% elsif current_named_route == :myaccount_profile %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Profile" %>
      <% elsif current_named_route == :myaccount_sessions %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Sessions" %>
      <% elsif current_named_route == :myaccount_billing %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Billing" %>
      <% elsif current_named_route == :myaccount_danger %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Danger" %>
      <% elsif current_named_route == :myaccount_email %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Email" %>
      <% elsif current_named_route == :myaccount_user_new %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Users", link: "/myaccount/users" %>
        <%= render "shared/breadcrumb_one", text: "Create new User", link: myaccount_user_new_path %>
      <% elsif current_named_route == :myaccount_user_list %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_path %>
        <%= render "shared/breadcrumb_one", text: "Users" %>
      <% elsif current_named_route == :myaccount_user_show %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_user_show_path %>
        <%= render "shared/breadcrumb_one", text: "Users", link: "/myaccount/users" %>
        <%= render "shared/breadcrumb_one", text: "User #{params[:slug]}" %>
      <% elsif current_named_route == :myaccount_user_edit %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_user_edit_path %>
        <%= render "shared/breadcrumb_one", text: "Users", link: "/myaccount/users" %>
        <%= render "shared/breadcrumb_one", text: "User #{params[:slug]}", link: "/myaccount/users/#{params[:slug]}" %>
        <%= render "shared/breadcrumb_one", text: "Edit" %>
      <% elsif current_named_route == :myaccount_blogpost_new %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogpost_new_path %>
        <%= render "shared/breadcrumb_one", text: "Blogposts", link: "/myaccount/blogposts" %>
        <%= render "shared/breadcrumb_one", text: "Create new Blogpost" %>
      <% elsif current_named_route == :myaccount_blogpost_list %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogpost_list_path %>
        <%= render "shared/breadcrumb_one", text: "Blogposts" %>
      <% elsif current_named_route == :myaccount_blogpost_show %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogpost_show_path %>
        <%= render "shared/breadcrumb_one", text: "Blogposts", link: "/myaccount/blogposts" %>
        <%= render "shared/breadcrumb_one", text: "Blogpost #{params[:slug]}" %>
      <% elsif current_named_route == :myaccount_blogpost_edit %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogpost_edit_path %>
        <%= render "shared/breadcrumb_one", text: "Blogposts", link: "/myaccount/blogposts" %>
        <%= render "shared/breadcrumb_one", text: "Blogpost #{params[:slug]}", link: "/myaccount/blogposts/#{params[:slug]}" %>
        <%= render "shared/breadcrumb_one", text: "Edit" %>
      <% elsif current_named_route == :myaccount_blogtag_new %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogtag_new_path %>
        <%= render "shared/breadcrumb_one", text: "Blogtags", link: "/myaccount/blogtags" %>
        <%= render "shared/breadcrumb_one", text: "Create new Blogtag" %>
      <% elsif current_named_route == :myaccount_blogtag_list %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogtag_list_path %>
        <%= render "shared/breadcrumb_one", text: "Blogtags" %>
      <% elsif current_named_route == :myaccount_blogtag_show %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogtag_show_path %>
        <%= render "shared/breadcrumb_one", text: "Blogtags", link: "/myaccount/blogtags" %>
        <%= render "shared/breadcrumb_one", text: "Blogtag #{params[:slug]}" %>
      <% elsif current_named_route == :myaccount_blogtag_edit %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_blogtag_edit_path %>
        <%= render "shared/breadcrumb_one", text: "Blogtags", link: "/myaccount/blogtags" %>
        <%= render "shared/breadcrumb_one", text: "Blogtag #{params[:slug]}", link: "/myaccount/blogtags/#{params[:slug]}" %>
        <%= render "shared/breadcrumb_one", text: "Edit" %>
      <% elsif current_named_route == :myaccount_role_new %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_role_new_path %>
        <%= render "shared/breadcrumb_one", text: "Roles", link: "/myaccount/roles" %>
        <%= render "shared/breadcrumb_one", text: "Create new Role" %>
      <% elsif current_named_route == :myaccount_role_list %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_role_list_path %>
        <%= render "shared/breadcrumb_one", text: "Roles" %>
      <% elsif current_named_route == :myaccount_role_show %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_role_show_path %>
        <%= render "shared/breadcrumb_one", text: "Roles", link: "/myaccount/roles" %>
        <%= render "shared/breadcrumb_one", text: "Role #{params[:id]}" %>
      <% elsif current_named_route == :myaccount_role_edit %>
        <%= render "shared/breadcrumb_one", text: "My account", link: myaccount_role_edit_path %>
        <%= render "shared/breadcrumb_one", text: "Roles", link: "/myaccount/roles" %>
        <%= render "shared/breadcrumb_one", text: "Role #{params[:id]}", link: "/myaccount/roles/#{params[:id]}" %>
        <%= render "shared/breadcrumb_one", text: "Edit" %>
      <% end %>
    </ol>
  </div>
</nav>