<div class="p-4 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-800 rounded-md lg:p-10">
  <div class="sm:flex items-center justify-between mb-8">
    <h1 class="flex-1 text-2xl font-bold -tracking-wide">Users</h1>
    <form class="search" up-target=".table-scroll" up-focus="#q" up-history="true" method="get">
      <input type="hidden" name="page" id="page" value="<%= params[:page] || 1 %>" autocomplete="off">
      <input type="search" name="q" id="q" placeholder="Search" value="<%= params[:q] %>" class="appearance-none bg-[#fff] rounded-[.375rem] [box-shadow:inset_0_0_0_1px_#9ca3af] leading-[1.85rem] px-[.75rem] py-[.375rem]">
    </form>
  </div>
  <div class="">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3 text-start text-sm font-bold bg-gray-100">Action</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-bold bg-gray-100">Email</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-bold bg-gray-100">Verified?</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-bold bg-gray-100">Created At</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-bold bg-gray-100">Updated At</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @users.each do |user| %>
          <tr>
            <td class="py-2 text-xs pl-4">
              <%= link_to "Edit", myaccount_user_edit_path(user.slug), class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-3 py-1 mt-2 mb-2 md:mt-0 md:mb-0" %>
              <%= link_to "Show", myaccount_user_path(user.slug), class: "cursor-pointer text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-md text-sm px-3 py-1 mt-2 mb-2 md:mt-0 md:mb-0" %>
            </td>
            <td class="py-2 text-xs pl-6"><%= user.email %></td>
            <td class="py-2 text-xs pl-6"><%= user.verified %></td>
            <td class="py-2 text-xs pl-6">
              <div><%= user.created_at.strftime('%-d %b %Y') %></div>
              <div><%= user.created_at.strftime('%H:%M:%S') %></div>
            </td>
            <td class="py-2 text-xs pl-6">
              <div><%= user.updated_at.strftime('%-d %b %Y') %></div>
              <div><%= user.updated_at.strftime('%H:%M:%S') %></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <ul class="mt-6">
    <%== pagy_nav(@pagy) %>
  </ul>
</div>