<div class="m-4">
  <%= form_with model: target_user, url: target_url, method: target_method, html: { 'up-submit': true } do |form| %>
    <% if target_user.errors.any? %>
      <div class="formerrors">
        <p><strong><%= pluralize(target_user.errors.count, "error") %> prevented the form from being saved</strong></p>
        <ul class="list-disc pl-6">
          <% target_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group mt-3">
      <%= form.label :email, "Email", class: "block font-medium text-sm text-gray-700" %>
      <%= form.text_field :email, class: "text-sm placeholder:text-sm placeholder:font-base placeholder:text-neutral-500 shadow-[0_1px_2px_#0000000d] border border-gray-300 text-neutral-700 rounded-md focus:border-2 focus:border-primary-400 focus:outline-none w-92 py-1 px-3", value: target_user.email %>
    </div>
    <div class="form-group mt-3">
      <%= form.label :verified, "Verified", class: "font-semibold text-sm" %>
      <div class="w-full">
        <%= form.check_box :verified, value: target_user.verified, class: "cursor-pointer" %>
      </div>
    </div>
    <div class="form-actions mt-6">
      <%= form.submit target_submit, class: "cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2" %>
      <%= link_to "Cancel", myaccount_user_list_path, class: "cursor-pointer text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-md text-sm px-5 py-2 md:ms-2 md:me-2 mt-2 mb-2 md:mt-0 md:mb-0" %>
    </div>
  <% end %>
</div>
