<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Koal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <% if controller_name == 'sessions' && action_name == 'new' %>
      <style>
        body { background: #fafafa; }
      </style>
    <% end %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <%= debugbar_head  if defined? Debugbar %>
  </head>
  <body class="h-full flex flex-col">
    <%= render "shared/app_flash" %>
    <div id="global-loading-spinner" class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 hidden">
      <div class="w-8 h-8 border-4 border-zinc-300 border-t-zinc-900 rounded-full animate-spin"></div>
    </div>
    <% if show_layout_navigation? %>
      <%= render 'shared/navbar' %>
    <% end %>
    <main id="main" class="main <%= request.path.include?('myaccount') ? 'bg-gray-50' : '' %> flex-grow">
      <%= yield %>
    </main>
    <% if show_layout_navigation? %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= debugbar_body if defined? Debugbar %>
  </body>
</html>
